@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

body {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}
.navigation__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}
.navigation__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.paragraph__black {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.paragraph__white {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.headings {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.headings__white {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}
.text__white {
  color: #ffffff;
}
.text__black {
  color: #333333;
}
.button-card-icon {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}
.subscribe__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
